# Notebook for Preliminary Exploration of Data

In [1]:
# import statements
from Util.Import import load_file, get_files
import pandas as pd
import numpy as np
import json
import nltk

Data files may be loaded using the `load_file` function which takes the path to the data file as input: e.g.

In [4]:
data = load_file('./data/tweet_stream_london_6_0_0_32.txt')
data.head()

,country,date,latitude,longitude,placeName,placeType,profileLocation,text,tweetId,username
0,United Kingdom,2015-07-25 22:32:16,51.471583,0.144333,"Crayford, London",city,,big man like me with a beard look how am I sca...,6.250711e+17,brontebroomexo
1,United Kingdom,2015-07-25 22:32:25,51.515480,-0.192133,"Paddington, London",city,London,Another great night at the Tiroler Hut! So ref...,6.250711e+17,Underthebigsmok
2,United Kingdom,2015-07-25 22:32:25,51.570884,-0.297162,"Brent, London",city,"London, England",It creates a bubble of air that is held by the...,6.250711e+17,ahmerza
3,United Kingdom,2015-07-25 22:32:36,51.536903,-0.076749,"Hackney, London",city,London,We're in the army now! #Tattoo #Ink #Inked #Mi...,6.250712e+17,thisisraynoir
4,United Kingdom,2015-07-25 22:32:36,51.505149,-0.075585,"Camberwell, London",city,NYC,Leave it to me to find #Bride posing in #Londo...,6.250712e+17,THETonyMorrison

List of paths to data may be retrieved using the `get_files` function, which takes the path to the data directory as input: e.g.

In [5]:
file_paths = get_files('./data')
file_paths[0:5]

['./data/tweet_stream_london_10_0_0_17.txt',
 './data/tweet_stream_london_10_0_0_22.txt',
 './data/tweet_stream_london_10_0_0_39.txt',
 './data/tweet_stream_london_10_0_0_44.txt',
 './data/tweet_stream_london_10_0_0_45.txt']